<section class="slider">
    <ul class="slides">
        <li>
            <img src="images/sliderImg/slide 2.jpg" class="responsive-img below" alt="">
            <div class="caption center-align">
                <h3>Empowering Rural Farmers</h3>
                <h5 class="light white-text text-lighten hide-on-small-only">Through Innovative Digital market solution</h5>
            </div>
        </li>
        <li>
            <img src="images/sliderImg/slide3.jpg" class="responsive-img" alt="">
            <div class="caption right-align">
                <h3>Promoting Digital and Financial</h3>
                <h5 class="light white-text text-lighten hide-on-small-only">Inclusion for Rural Farmers in Sierra Leone</h5>
            </div>
        </li>
        <li>
            <img src="images/sliderImg/slide1.jpg" alt="">
            <div class="caption left-align">
                <h3>Connect Farmers</h3>
                <h5 class="light white-text text-lighten hide-on-small-only">To critical information and sponsor</h5>
            </div>
        </li>
        <li>
            <img src="images/sliderImg/slide4.jpg" alt="">
            <div class="caption left-align">
                <h3>Connect Farmers</h3>
                <h5 class="light white-text text-lighten hide-on-small-only">To critical information and sponsor</h5>
            </div>
        </li>
    </ul>
</section>