<!-- navbar -->
<header class="navbar-fixed">
    <nav class="green">
        <div class="container">
            <div class="nav-wrapper">
                <img class="brand-logo" src="../images/Sierra_Leone_Coat_Of_Arms.png">
                <a href="#" class="hide-on-med-and-down">
                    Agriculture Market Information System
                </a>
                <a href="#" data-target="mobile-view" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right admin hide-on-med-and-down">
                    <li><a href="/">Home</a></li>
                    <li><a href="/farmers">Farmers</a></li>
                    <li><a href="/charts">Analysis</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/admin">admin</a></li>
                </ul>

            </div>
        </div>
        <ul class="sidenav" id="mobile-view">
          <li><a href="/">Home</a></li>
          <li><a href="/farmers">Farmers</a></li>
          <li><a href="/charts">Charts</a></li>
          <li><a href="/products">Products</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/admin">admin</a></li>
        </ul>
    </nav>
</header>
