<!-- chart data page -->
<section class="section dispCharts_section center">
    <h4 class="center green-text">REALTIME FARMER CHARTS</h4>
    <div class="col s12 m12">
        <div class="container">
            <div class="row">
                <!-- bar charts -->
                <div class="col s12 m6 pull-m1">
                    <h5 class="center">Bar Farmer Data</h5>
                    <canvas id="barChart" height="300" width="300"></canvas>
                    <!-- <div id="myfirstchart" height="250"></div> -->
                </div>
                <!--  polar charts -->
                <div class="col s12 m6 push-m1">
                    <h5 class="center">Polar Farmer Data</h5>
                    <canvas id="polarChart" height="300" width="300"></canvas>
                </div>
            </div>
            <div class="row">
                <!--  pie charts -->
                <div class="col s12 m6 pull-m1">
                    <h5 class="center">Pie Farmer Data</h5>
                    <canvas id="pieChart" height="300" width="300"></canvas>
                </div>
                <!-- bubble charts -->
                <div class="col s12 m6 push-m1">
                    <h5 class="center">Bubble Farmer Data</h5>
                    <canvas id="lineChart" height="300" width="300"></canvas>
                </div>
            </div>
        </div>
    </div>
</section>