<section class="section index-third-section">
    <h3 class="center">Collaboration of Technology</h3>
    <h4 class="center">Agirc Tech bring financial inclusion for the ordinary farmer</h4>
     <div class="container">
         <div class="row">
            <div class="col s12 m4 pull-m1">
                <img src="/images/compho2.png" class="img-responsive" alt="">
            </div>
            <div class="col s12 m6">
                <ol>
                    <li><p>Bridging the gaps of disatisfaction between farmers and consumer through AMIS digital market system</p></li>
                    <li><p>Satisfaction is what we assure our clients</p></li>
                    <li><p>Creating equal agriculral market platform for all</p></li>
                    <li><p>Promoting social protection and agricultural program to farmers</p></li>
                </ol>
            </div>
            <div class="col s12 m2">
                <a href="/charts" class="btn light-blue z-depth-5 white-text hoverable" id="chat-btn">Charts</a>
            </div>
        </div>
     </div>
</div>
