<div class="parallax-container">
    <div class="parallax"><img src="images/image-gallery/13.jpg"></div>
</div>
<div class="section white partners-parallax">
    <div class="container">
        <h2 class="header center parallax-title">Our Partners</h2>
        <div class="row">
            <div class="regular slick-slider">
                <div class="col s3 m3">
                    <!-- <p class="center">Lovel Limited</p> -->
                    <img src="images/sponsors/sp1.png" alt="">
                </div>
                <div class="col s3 m3">
                    <!-- <p class="center">Lovel Limited</p> -->
                    <img src="images/sponsors/sp2.png" alt="">
                </div>
                <div class="col s3 m3">
                    <!-- <p class="center">Lovel Limited</p> -->
                    <img src="images/sponsors/sp3.png" alt="">
                </div>
                <div class="col s3 m3">
                    <!-- <p class="center">Lovel Limited</p> -->
                    <img src="images/sponsors/sp4.png" alt="">
                </div>
            
                <div class="col s3 m3">
                    <!-- <p class="center">Lovel Limited</p> -->
                    <img src="images/sponsors/sp5.png" alt="">
                </div>
                <div class="col s3 m3">
                    <!-- <p class="center">Lovel Limited</p> -->
                    <img src="images/sponsors/sp6.png" alt="">
                </div>
                <div class="col s3 m3">
                    <!-- <p class="center">Lovel Limited</p> -->
                    <img src="images/sponsors/sp7.png" alt="">
                </div>
                <div class="col s3 m3">
                    <!-- <p class="center">Lovel Limited</p> -->
                    <img src="images/sponsors/sp8.png" alt="">
                </div>
           </div>
        </div>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="images/image-gallery/12.jpg"></div>
</div>