.main-header .nav-wrapper img {
    padding-top: -2px;
    height: 55px;
}

.brand-logo {
    height: 60%;
    width: 5%;
    margin-top: 1%;
    margin-left: -5%;
}

.sidenav .user-view {
    background-image: url(../images/mo4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30%;
}

.section-dashboard-contents {
    padding-left: 250px !important;
}

.sidenav .user-view h5 {
    text-align: center;
    font-size: 18px;
}

.sidenav img {
    margin-top: 10%;
    margin-left: 38%;
}

.sidenav h4 {
    font-size: 18px;
}

.sidenav .container h6 {
    font-size: 1.1em;
    text-align: center;
}

#index {
    background-image: url(../images/mo4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.index-login-form .container {
    width: 320px;
    height: 350px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    top: 50%;
    left: 50%;
    border-radius: 5% 5% 5% 5%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.index-login-form .container h4 {
    font-size: 18px;
}

.index-login-form .input-field input {
    color: #fff !important;
}

#admin {
    background-image: url(../images/mo4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.admin-login-section .container {
    width: 320px;
    height: 380px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    top: 50%;
    left: 50%;
    border-radius: 5% 5% 5% 5%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.admin-login-section .container h4 {
    font-size: 18px;
}

.admin-login-section .container .input-field input {
    color: #fff !important;
}

.admin li {
    font-size: 14px !important;
}

.btn-extend {
    display: block;
    width: 100%;
}


/* --------------------- */


/* --------------------- */


/*THE AVARTAR*/

.container .avt {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: fixed;
    top: -50px;
    left: calc(50% - 50px);
}

#devHeadingText {
    margin-left: 20px !important;
    padding-bottom: 20px !important;
}

.section .farmer_section {
    height: 100vh;
}

.section .farmer_section form {
    height: 100vh;
}

.submitAlert {
    text-align: center;
    padding: 10px;
    background-color: #79c879;
    color: #fff;
    margin-bottom: 10px;
    display: none;
}

.errorAlert {
    text-align: center;
    padding: 10px;
    background-color: #e28787;
    color: #fff;
    margin-bottom: 10px;
    display: none;
}

.section-dashboard-contents {
    /* position: fixed; */
    /* overflow: scroll; */
}

table {
    overflow: scroll;
}

table thead,
tbody,
tfoot tr th {
    font-size: 13px !important;
    font-weight: normal;
}


/* AVAILABLE PRODUCT BY DISTRICT */

.collection-header h4 {
    font-size: 18px !important;
    color: rgb(101, 102, 102);
}

.collection-item {
    color: rgb(156, 156, 156);
}


/* partners-parallax */

.parallax-title {
    color: rgb(156, 156, 156);
    font-size: 30px;
    margin-top: -60px;
}

.partners-parallax .slick-slider img {
    height: 120px;
    width: 120px;
}

.slick-slider {
    height: 30% !important;
}


/* end of partners-parallax */


/* FARMERS TABLE SECTION */


/* .dispFarmers_section{
    display: none;
}

.dispFarmers_section h4 {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    margin-top: -20px;
    color: rgb(150, 150, 150);
}
.dispFarmers_section h4:before, .dispFarmers_section h4:after{
    content: "";
    flex: 1 1;
    border-bottom: 2px solid rgb(214, 214, 214);
    margin: auto;
}

.dispFarmers_section h5{
    font-size: 18px;
    padding: 10px 0;
}

.dispFarmers_section .container table thead{
    border: 2px solid #79c879 ;
} */


/* CHART SECTION */

.dispCharts_section {
    display: none;
}

.dispCharts_section h4 {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    margin-top: -20px;
    color: rgb(150, 150, 150);
}

.dispCharts_section h4:before,
.dispCharts_section h4:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid rgb(214, 214, 214);
    margin: auto;
}

.dispCharts_section h5 {
    font-size: 17px;
}


/* MARKET SECTION */

.dispMarket_section {
    margin-left: -10% !important;
}

.dispMarket_section h4 {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    margin-top: 20px;
    color: rgb(150, 150, 150);
}

.dispMarket_section h4:before,
.dispMarket_section h4:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid rgb(214, 214, 214);
    margin: auto;
}

.dispMarket_section h5 {
    font-size: 17px;
}


/* .mdl-data-table{
    margin-top: 5% !important;
    width: 100% !important;
} */

.dispMarket_section table {
    width: 90% !important;
    margin-left: 9.5%;
    height: 100%;
    display: block;
}

.dispMarket_section table thead {
    border: 2px solid #79c879;
}


/* TRADE FLOW SECTION */

.dispTradeFlow_section {
    margin-left: -10% !important;
}

.dispTradeFlow_section h4 {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    margin-top: 20px;
    color: rgb(150, 150, 150);
}

.dispTradeFlow_section h4:before,
.dispTradeFlow_section h4:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid rgb(214, 214, 214);
    margin: auto;
}

.dispTradeFlow_section h5 {
    font-size: 17px;
}

.dispTradeFlow_section table {
    width: 90% !important;
    margin-left: 9.5%;
    overflow-y: scroll;
    height: 50%;
    display: block;
}

.dispTradeFlow_section table thead {
    border: 2px solid #79c879;
}

.btn-extend {
    display: block;
    width: 100%;
}

.section #productMarketForm h4 {
    font-size: 18px !important;
}

.section #productMarketForm h5 {
    font-size: 18px !important;
    margin-bottom: 25px;
}

.product_trade_flow_section #productTradeFlowForm h4 {
    font-size: 18px !important;
}

.product_trade_flow_section #productTradeFlowForm h5 {
    font-size: 18px !important;
    margin-bottom: 25px;
}

.btn-enum {
    /* margin: 0 350px 0 350px; */
    width: 200px;
    height: 50px !important;
}

#enumerator,
#market,
#tradeFlow {
    background-color: #f5f6fa !important;
}


/*  AG BIZ STYLE */

.farmers-btn {
    margin: 30px 0;
}

#chat-btn {
    width: 100px;
    /* margin-left: 40%; */
    margin-top: 60%;
}

#header-text {
    margin: 50px 0 0 0;
    color: #ABB7B7;
    font-size: 18px;
}

.line {
    height: 3px;
    width: 100px;
    margin: 10px 0 50px 605px;
}

.availableProducts {
    margin: 0 50px;
}

.availableProducts .card .card-image img {
    height: 200px;
}

.availableProducts .card .card-content h5 {
    font-size: 19px;
    margin: 5px 0 20px 0;
    color: #ABB7B7;
}


/* info style */

.info-section {
    background: linear-gradient(#34e89e, #0f3443);
    position: relative;
}

.info-section .info {
    margin: 0 50px;
}

.info-section h3 {
    font-size: 19px;
    margin: 50px 0 50px 0;
    color: #fff !important;
    /*all h3-colors -> #ABB7B7 */
    ;
}

.info-section .info .card {
    transition: transform .2s;
    /* Animation */
    margin: 0 auto;
}

.info-section .info .card:hover {
    transform: scale(1.1);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.info-section .info .card i {
    font-size: 50px;
    padding: 30px 115px 0 115px;
}

.info-section .info .info-btn {
    margin: 20px auto;
}

.info-section .info .card-content h5 {
    font-size: 1.4em;
    color: #95A5A6;
}

.info-section .info .card-content p {
    color: #000000;
    opacity: 0.5;
}


/* chart style */

#chartView {
    /* background-image: linear-gradient(#0f2027 ,#203a43 ,#2c5364 ) !important; */
}


/* order form style */

.modal .modal-content h5 {
    font-size: 18px !important;
    margin: 10px auto;
}

.btn-order {
    margin-bottom: 20px;
}


/* --------------------------- */

#pw {
    font-size: 1.2em;
}

#product-produce {
    margin: 10%;
}

.fa {
    margin-left: 2%;
    font-size: 0.1em;
}

.dropdown-content {
    margin-top: 15% !important;
    color: transparent !important;
}

.fa:hover {
    color: red;
}


/* FARMERS DETAILS SECTION */

#farmers-page .container .row h3 {
    font-size: 20px;
    margin: 50px 0 50px 0;
    color: rgb(179, 178, 178) !important;
}

#farmers-page .container .row p {
    color: rgb(132, 133, 133);
    font-size: 1.2em;
}

#farmer-names {
    font-size: 0.6em;
}

#farmer-info-img {
    width: 550px;
    height: 400px;
    margin-top: 50px;
}

.details {
    margin: 50px 0;
}

.details h5 {
    font-size: 18px;
    color: rgb(132, 133, 133);
}

.details p {
    font-size: 1.2em;
    margin: 5px 0;
    color: rgb(132, 133, 133);
}

#img-farmer {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

#dis-des {
    text-align: justify;
}

.feedback-title {
    font-size: 20px;
    color: orange;
}


/* INDEX PAGE THRID CONTENT */


/* .index-third-section{
    background: black;
    opacity: 0.7;
} */

.index-third-section img {
    width: 100%;
    margin-bottom: 10%;
    height: 40%;
}

.index-third-section h3 {
    margin: 50px 0 0 0;
    color: rgb(87, 87, 87);
    font-size: 18px;
}

.index-third-section h4 {
    color: rgb(132, 133, 133);
    margin: 10px 0 30px 0;
    font-size: 19px;
}

.index-third-section ol li {
    color: #a3a3a3;
    font-size: 1.2em;
}


/* END OF INDEX PAGE THIRD CONTENT */


/* ABOUT SECTION STYLE */

.about-section h3 {
    margin: 50px 0 0 0;
    color: rgb(87, 87, 87);
    font-size: 20px;
    font-weight: bolder
}

.about-section p {
    color: rgb(132, 133, 133);
    font-size: 1.2em;
}

.about-section ul li {
    color: rgb(132, 133, 133);
    font-size: 1.2em;
    margin: 5px auto;
}


/* END OF ABOUT SECTION STYLE */

.footer {
    width: 100%;
}

.products .header-text {
    padding: 15px;
    font-size: 20px;
    color: #000;
    opacity: 0.6;
}

.products h5 {
    font-size: 20px;
    font-family: cursive;
    color: yellowgreen;
    opacity: 1;
}

.unav_products .header-text {
    padding: 15px;
    font-size: 20px;
    color: #000;
    opacity: 0.6;
    margin-left: 80px;
}

.unav_products h5 {
    font-size: 20px;
    font-family: cursive;
    color: orange;
    opacity: 1;
}

.unav_products img {
    width: 650px;
}


/* AVALIABLE PRODUCT BY DISTRICT STYLE */

.ava-products-by-district {
    /* background-color: #95afc0 !important; */
    background: linear-gradient(#34e89e, #0f3443);
    /* background: linear-gradient(#007991, #78ffd6 ); */
}

.ava-products-by-district .container .regular {
    height: 40% !important;
}

.ava-products-by-district h3 {
    font-size: 19px;
    margin: 50px 0 50px 0;
    color: #fff;
    /*all h3-colors -> #ABB7B7 */
}

.ava-products-by-district h4 {
    font-size: 20px;
    font-weight: bolder;
    margin: 5px 0 20px 15px;
    color: black;
}

.ava-products-by-district p {
    font-size: 20px;
    margin-left: 15px;
    color: #ecf0f1
}


/* .ava-products-by-district span {
    margin-left: -150px !important;
} */

.verticalLine {
    width: 1px;
    background-color: #bdc3c7;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 80%;
}


/* END OF AVAILABLE PRODUCT BY DISTRICT STYLE */


/* top top button */

.to-top {
    position: fixed;
    /* display: none; */
    bottom: 20px;
    right: 20px;
    background: #000;
    color: #fff;
    padding: 10px 12px;
    border-radius: 50%;
    cursor: pointer;
}

.to-top:hover {
    background: #d7d7d7;
    color: #000;
}


/* learning info section */

.info-section .info .card {
    margin: 20px 0;
}

.learning .card-content .con {
    max-height: 20% !important;
    overflow: hidden !important;
}