<html lang="en">
<head>
    <% include partials/templates/head.ejs %>
</head>
<body id="<%= pageID %>">
    <!-- header template-->
    <% include partials/templates/web-header %>

    <!-- about content -->
    <% include partials/contents/about_cont %>

      <!-- including the js scripts template -->
      <% include partials/templates/jsscripts %>
</body>
    <!-- including the footer template -->

</html>
