<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="card">
        <div class="body bg-cyan">
            <div class="m-b--35 font-bold">LATEST SOCIAL TRENDS</div>
            <ul class="dashboard-stat-list">
                <li>
                    #socialtrends
                    <span class="pull-right">
                        <i class="material-icons">trending_up</i>
                    </span>
                </li>
                <li>
                    #materialdesign
                    <span class="pull-right">
                        <i class="material-icons">trending_up</i>
                    </span>
                </li>
                <li>#adminbsb</li>
                <li>#freeadmintemplate</li>
                <li>#bootstraptemplate</li>
                <li>
                    #freehtmltemplate
                    <span class="pull-right">
                        <i class="material-icons">trending_up</i>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
