<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="card">
        <div class="body bg-teal">
            <div class="font-bold m-b--35">ANSWERED TICKETS</div>
            <ul class="dashboard-stat-list">
                <li>
                    TODAY
                    <span class="pull-right"><b>12</b> <small>TICKETS</small></span>
                </li>
                <li>
                    YESTERDAY
                    <span class="pull-right"><b>15</b> <small>TICKETS</small></span>
                </li>
                <li>
                    LAST WEEK
                    <span class="pull-right"><b>90</b> <small>TICKETS</small></span>
                </li>
                <li>
                    LAST MONTH
                    <span class="pull-right"><b>342</b> <small>TICKETS</small></span>
                </li>
                <li>
                    LAST YEAR
                    <span class="pull-right"><b>4 225</b> <small>TICKETS</small></span>
                </li>
                <li>
                    ALL
                    <span class="pull-right"><b>8 752</b> <small>TICKETS</small></span>
                </li>
            </ul>
        </div>
    </div>
</div>
