<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="card">
        <div class="body bg-pink">
            <div class="font-bold m-b--35">VISITORS</div>
            <div class="sparkline" data-type="line" data-spot-Radius="4" data-highlight-Spot-Color="rgb(233, 30, 99)" data-highlight-Line-Color="#fff"
                 data-min-Spot-Color="rgb(255,255,255)" data-max-Spot-Color="rgb(255,255,255)" data-spot-Color="rgb(255,255,255)"
                 data-offset="90" data-width="100%" data-height="92px" data-line-Width="2" data-line-Color="rgba(255,255,255,0.7)"
                 data-fill-Color="rgba(0, 188, 212, 0)">
                12,10,9,6,5,6,10,5,7,5,12,13,7,12,11
            </div>
            <ul class="dashboard-stat-list">
                <li>
                    TODAY
                    <span class="pull-right"><b>1 200</b> <small>USERS</small></span>
                </li>
                <li>
                    YESTERDAY
                    <span class="pull-right"><b>3 872</b> <small>USERS</small></span>
                </li>
                <li>
                    LAST WEEK
                    <span class="pull-right"><b>26 582</b> <small>USERS</small></span>
                </li>
            </ul>
        </div>
    </div>
</div>
