<div class="menu">
    <ul class="list">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active">
            <a href="/admin/dashboard">
                <i class="material-icons">home</i>
                <span>Home</span>
            </a>
        </li>
        <!-- registration forms links -->
        <li>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">assignment</i>
                <span>Registration Forms</span>
            </a>
            <ul class="ml-menu">
                <li><a href="/admin/register/admin">Register an Admin</a></li>
                <li><a href="/admin/register/farmer">Register FBO's</a></li>
                <li><a href="/admin/register/enumerator">Register Enumerator</a></li>
                <li><a href="/admin/createMarketData">Create market data</a></li>
                <li><a href="/admin/farmerDisData">Create Farmer by district</a></li>
            </ul>
        </li>
        <!-- end of registration form links -->
        <!-- realtime collected data links -->
        <li>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">view_list</i>
                <span>Realtime Collected Data</span>
            </a>
            <ul class="ml-menu">
                <li><a href="/admin/market">Market Data</a></li>
                <li><a href="/admin/tradeFlow">Trade Flow</a></li>
                <li><a href="/admin/exportFlow">Export Flow</a></li>
            </ul>
        </li>
        <!-- end of realtime collected data links -->
        <!-- post market links -->
        <li>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">view_list</i>
                <span>Products</span>
            </a>
            <ul class="ml-menu">
                <li><a href="/admin/post/new/product">Post New Product</a></li>
            </ul>
        </li>
        <!-- end of post market links -->
        <!-- post market links -->
        <li>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">view_list</i>
                <span>View Records</span>
            </a>
            <ul class="ml-menu">
                <li><a href="/admin/records/enumerators">Registered Enumerators</a></li>
                <li><a href="/admin/records/fbos">Registered FBOs</a></li>
            </ul>
            <li>
                <a href="/admin/learning-info">
                  <i class="material-icons prefix">info</i><span>Learning Materials</span>
                </a>
              </li>
            <li>
              <a href="/admin/about">
                <i class="material-icons prefix">info</i><span>About AMIS</span>
              </a>
            </li>
        </li>

        <!-- end of post market links -->
        <!-- <li>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">perm_media</i>
                <span>Media</span>
            </a>
            <ul class="ml-menu">
                <li>
                    <a href="pages/medias/image-gallery.html">Image Gallery</a>
                </li>
                <li>
                    <a href="pages/medias/carousel.html">Carousel</a>
                </li>
            </ul>

        </li> -->
    </ul>
</div>
